<!DOCTYPE html>
<html ng-app="musicApp">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-controller="musicCtrl">

<h2>Multi-Platform Music Player</h2>


<ul>
    <li ng-repeat="x in songs">
    		<span ng-click="playSong($index)">&#9658;</span>
            {{x.name}}
            {{x.platform}}
            <span ng-click="removeItem($index)">&times;</span>

    </li>
</ul>
<input id="name" ng-model="addSongName" placeholder="Song name">
<select id="platform" ng-model="addSongPlatform">
  <option value="YouTube">YouTube</option>
  <option value="Spotify">Spotify</option>
  <option value="Google Drive">Google Drive</option>
  <option value="SoundCloud">SoundCloud</option>
  <option value="AudioMack">AudioMack</option>
</select>
<!-- <input ng-model="addSongPlatform" placeholder="Song platform">-->
<input id="id" ng-model="addSongLink" placeholder="Song link">
<button ng-click="addItem()">Add</button>
<p>{{errortext}}</p>


<div id="youtube_player"></div>
<iframe id="drive_player" style="visibility: hidden"
  frameborder="0" 
  width="400"     
  height="200"></iframe>

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src = "player.js"></script>


</body>
</html>
